# Flutter/Dart-specific
.dart_tool/
.flutter-plugins
.flutter-plugin-dependencies
.metadata
*.iml
*.ipr
*.iws
/ios/Flutter/AppFrameworkInfo.plist
/macos/Flutter/AppFrameworkInfo.plist
/linux/flutter/ephemeral
/windows/flutter/ephemeral
/web/flutter_service_worker.js
/build/*

# Android-specific
android/local.properties
android/key.properties
android/app/src/main/kotlin/**/.iml
android/app/src/debug/**/.iml
android/app/src/profile/**/.iml

# IntelliJ IDEA
.idea/
*.swp
*.swo
*.iml
*.ipr
*.iws
/out/

# OS-Specific files
.DS_Store
Thumbs.db